@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h2 {
  font-size: 1.4em;
  font-weight: semibold;
}

h3 {
  font-size: 1em;
  font-weight: semibold;
}

.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.7rem;
  padding: 0 2.5rem;
  padding-top: 0.75rem;
  padding-bottom: 3.125rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 600;
}

/** Input Switch */
.toggle-switch {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-label {
  display: inline-block;
  width: 40px;
  height: 24px;
  position: relative;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 12px; 
}

.toggle-label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px; 
  border-radius: 50%;
  background-color: #fff;
  transition: 0.3s;
}

.toggle-switch:checked + .toggle-label {
  background-color: #1CACE4;
}

.toggle-switch:checked + .toggle-label:after {
  transform: translateX(16px);
}



